*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
header{
    background-color: #E5E5E5;
    /* width: 100%; */
}
body{
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
main{
    /* width: 100%; */
    flex: 1 1 auto;
}
footer{
    /* margin-top: -100px; */
    /* width: 100%; */
    background-color: #E5E5E5;
}
h1{
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}
.reg--block{
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1400px;
    background-color: #FF6014;
    height: 100%;
}
.logo-header{
    size: 140px;
    max-height: 130px;
}
.logo-footer{
    size: 140px;
    max-height: 80px;
    height: 100%;
}